# Intellij user specific (see https://intellij-support.jetbrains.com/entries/23393067)
.idea/tasks.xml
.idea/workspace.xml
.idea/markdown-navigator*

# Generated java classes
out

# Vim
*.swp

# Plugins
*.idea/checkstyle-idea.xml

# Gradle
.gradle/
build/
intellij-plugin-save-actions.iml
intellij-plugin-save-actions.ipr
intellij-plugin-save-actions.iws
