# Intellij user specific (see https://intellij-support.jetbrains.com/entries/23393067)
.idea/tasks.xml
.idea/workspace.xml

# Generated java classes
out

# Vim
*.gitignore.swp

# Plugins
*.idea/checkstyle-idea.xml
