# Travis CI (https://travis-ci.org/dubreuia/intellij-plugin-save-actions)

dist: trusty

language: java

jdk:
  - oraclejdk11

# instrument code with jacoco for codecov
script:
  - ./gradlew test
  - ./gradlew jacocoTestReport

# call codecov analysis
after_success:
  - bash <(curl -s https://codecov.io/bash)

branches:
  only:
    - /.*/

notifications:
  email: true
