language: java

jdk:
  - oraclejdk8

script:
  - ./gradlew test
  - ./gradlew jacocoTestReport

after_success:
  - bash <(curl -s https://codecov.io/bash)

branches:
  only:
  - master

notifications:
  email: true
